/* Remove the HTML list bullet */
ul {
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}


/* result-button styling */
#button {
    width: 180px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(29,29,29);
    color: floralwhite;
    padding: 14px 16px;
    font-size: 16px;
}

body {
    background-image: url(cbdbd6799e8c107dee9d0a469017ca9c.jpg);
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

/* headline layout */
h1 {
    font-size: 50px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
}

/* paragrahps layout */
.website-description, .favorites-description, .text-aboutus {
    font-size: 20px;
    width: 1000px;
}

/* pictures */
.column {
    float: right;
    width: 50%;
    padding: 1px;
}

/* all text on webpage moved more to left */
.flex-container {
    position: relative;
    left: 50px;
}