/* Remove the HTML list bullet */
ul {
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}

* {
    font-family: EB Garamond;
    text-align: center;
    line-height: 1;
}

h1 {
    font-size: 50px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
}


.searchField {
    font-family: EB Garamond;
    text-align: center;
    line-height: 1;
}


.intro {
    font-family: EB Garamond;
    text-align: center;
    line-height: 1;
}

h2, h3, h4, h5, h6 {
    font-size: 22px;
}

body{
    background-image: url(cbdbd6799e8c107dee9d0a469017ca9c.jpg);
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}


.btn-btn-outline-info{
    width: 180px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(29,29,29);
    color: floralwhite;
    padding: 14px 16px;
    font-size: 16px;
}

